* {
    margin: 0;
}


#head {
    background-color: rgb(90, 89, 92);
    width: 100%;
    height: 15%;
    padding-top: 3%;
}

.link a {
    text-decoration: none;
    font-size: 23px;
    padding-left: 12%;
    padding-top: 10%;
    color: rgb(255, 255, 255);
}

.link {
    margin-top: -2%;
}

body {
    width: 100%;
    overflow: hidden;
    
}

.opisanie {
    color: black;
    font-size: 30px;
    padding-left: 12%;
   margin-top: -65%;
    width: 100%;

    
}

p {
    padding-top: 1%;
}

.durka {
    width: 100%;
    height: 100%;
    margin-top: 0%;
}